body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(160,24,155);
  background: linear-gradient(90deg, rgba(160,24,155,1) 17%, rgba(100,173,227,1) 45%, rgba(0,124,255,1) 100%);
}

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

